[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group Registered Users
	push = group Administrators
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group vcap-tests_committers
	submit = group vcap-tests_committers
[access "refs/heads/auth_deployment"]
	label-Code-Review = -2..+2 group Identity Team
